

.corebaselinelistfinal-42-5408{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-42-5612{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:69px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-42-5613{
position:absolute ;width: 1440.0px; height: 84.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;background:''}

.text-42-5614{
position: absolute;
left: 25.0px;
 top: 23.0px;
 width: 185.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5615{
position: absolute;
left: 250.0px;
 top: 27.0px;
 width: 393.0px;
 height: 17.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}

.vector-42-5616{
position: absolute;left: 230.0px; top: 15.0px; width: 1.0px; height: 46.0}

.group-42-5617{
position:absolute ;width: 159.0px; height: 36.0px;  background-color: rgba(0,0,0,0.0);top:19px; left: 1232px;border-radius: 2.0px;background:''}

.vector-42-5621{
position: relative; width: 24.0px; height: 24.0}

.btn-createbaseline-5618{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 159.0px;
 height: 36.0px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-42-5593{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:153px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-42-5594{
position:absolute ;width: 1373.0px; height: 44.0px;  background-color: rgba(34,52,132,1.0);top:0px; left: 0px;background:''}

.group-42-5595{
position:absolute ;width: 127.0px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:10px; left: 10px;background:''}

.vector-42-5596{
position: absolute;left: 0.0px; top: 0.0px; width: 24.0px; height: 24.0}

.text-42-5601{
position: absolute;
left: 35.0px;
 top: 7.0px;
 width: 92.0px;
 height: 11.0px;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-42-5604{
position: relative; width: 18.0px; height: 18.0}

.btn--5602{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1337.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.vector-42-5610{
position: relative; width: 18.0px; height: 18.0}

.btn--5608{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 1298.0px;
 top: 8.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(74, 87, 145, 1.0);
 cursor: pointer;

}

.group-42-5412{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:201px; left: calc( ( ( 100% - 1440px) / 2 ) + 27px);background:''}

.group-42-5413{
position:absolute ;width: 1373.0px; height: 845.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.group-42-5414{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 9px;background:''}

.group-42-5415{
position:absolute ;width: 1353.0px; height: 147.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-42-5416{
position: absolute;left: 1080.0px; top: 91.5px; width: 273.0px; height: 1.0}

.group-42-5417{
position:absolute ;width: 542.0px; height: 147.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 514px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-42-5418{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(0,0,0,0.0);top:92px; left: 656px;background:''}

.group-42-5419{
position:absolute ;width: 400.0px; height: 55.0px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.vector-42-5420{
position: absolute;left: 198.5px; top: 0.0px; width: 1.0px; height: 55.0}

.vector-42-5421{
position: absolute;left: 32.0px; top: 17.0px; width: 127.0px; height: 22.0}

.group-42-5432{
position:absolute ;width: 127.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 236px;background:''}

.vector-42-5433{
position: absolute;left: 0.0px; top: 0.0px; width: 127.0px; height: 22.0}

.group-42-5444{
position:absolute ;width: 107.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 1224px;background:''}

.img-42-5445{
position: absolute;left: 0.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.img-42-5446{
position: absolute;left: 16.0px; top: 0.0px; width: 21.0px; height: 22.0px;}

.img-42-5447{
position: absolute;left: 31.0px; top: 0.0px; width: 22.0px; height: 22.0px;}

.btn--5448{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 56.0px;
 top: 0.0px;
 width: 51.0px;
 height: 21.0px;
border-radius: 4.0px; background-color: rgba(250, 250, 250, 1.0);
 cursor: pointer;
font-size: 12.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; text-transform: uppercase; font-weight: 400;
}

.group-42-5452{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-42-5453{
position:absolute ;width: 41.0px; height: 147.0px;  background-color: rgba(236,239,255,1.0);top:0px; left: 0px;border-color:rgba(0, 0, 0, 0.05000000074505806);border-style:solid;background:''}

.group-42-5454{
position:absolute ;width: 24.0px; height: 113.0px;  background-color: rgba(0,0,0,0.0);top:17px; left: 9px;background:''}

.vector-42-5455{
position: absolute;left: 2.0px; top: 43.0px; width: 20.0px; height: 20.0}

.vector-42-5457{
position: absolute;left: 0.0px; top: 91.0px; width: 24.0px; height: 22.0}

.checkbox-42-5461{
position: absolute;left: 5.0px; top: 0.0px; width: 15.0px; height: 15.0px;}

.group-42-5463{
position:absolute ;width: 412.9996337890625px; height: 67.3634033203125px;  background-color: rgba(0,0,0,0.0);top:54px; left: 61px;background:''}

.group-42-5464{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:24px; left: 0px;background:''}

.group-42-5465{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5466{
position: absolute;left: 3.207763671875px; top: 4.06793212890625px; width: 10.42529296875px; height: 10.42523193359375}

.text-42-5468{
position: absolute;
left: 91.4208984375px;
 top: 6.47442626953125px;
 width: 76.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5469{
position: absolute;
left: 19.2470703125px;
 top: 6.47442626953125px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5470{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:24px; left: 211px;background:''}

.group-42-5471{
position:absolute ;width: 75.382568359375px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5472{
position: absolute;left: 2.31640625px; top: 4.068359375px; width: 10.42529296875px; height: 10.42523193359375}

.text-42-5474{
position: absolute;
left: 84.1142578125px;
 top: 6.4736328125px;
 width: 81.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5475{
position: absolute;
left: 18.3544921875px;
 top: 6.474609375px;
 width: 48.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5476{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:49px; left: 0px;background:''}

.group-42-5477{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5478{
position: absolute;left: 3.207763671875px; top: 3.928466796875px; width: 10.42529296875px; height: 10.42523193359375}

.text-42-5480{
position: absolute;
left: 91.4208984375px;
 top: 6.333984375px;
 width: 39.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5481{
position: absolute;
left: 19.2470703125px;
 top: 6.333984375px;
 width: 54.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5482{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:49px; left: 211px;background:''}

.group-42-5483{
position:absolute ;width: 93.0252685546875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5484{
position: absolute;left: 2.31640625px; top: 3.9287109375px; width: 10.42529296875px; height: 10.42523193359375}

.text-42-5486{
position: absolute;
left: 104.1630859375px;
 top: 6.333984375px;
 width: 83.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5487{
position: absolute;
left: 18.3544921875px;
 top: 6.333984375px;
 width: 70.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5488{
position:absolute ;width: 200.4854736328125px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-42-5489{
position:absolute ;width: 84.203857421875px; height: 17.6427001953125px;  background-color: rgba(203,203,203,0.10000000149011612);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5490{
position: absolute;left: 4.009765625px; top: 3.207763671875px; width: 9.623291015625px; height: 9.623291015625}

.text-42-5492{
position: absolute;
left: 91.4208984375px;
 top: 5.61328125px;
 width: 110.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5493{
position: absolute;
left: 19.2470703125px;
 top: 5.61328125px;
 width: 51.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(136, 131, 131, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5494{
position:absolute ;width: 202.8912353515625px; height: 17.6427001953125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 211px;background:''}

.vector-42-5497{
position: relative; width: 7.0px; height: 9.79998779296875}

.btn--5495{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.8916015625px;
 top: 0.0px;
 width: 53.0px;
 height: 17.79998779296875px;
border-radius: 3.2077670097351074px; background-color: rgba(203, 203, 203, 0.10000000149011612);
 cursor: pointer;

}

.vector-42-5503{
position: relative; width: 12.8310546875px; height: 12.8310546875}

.btn--5501{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 71.2830810546875px;
 top: 0.0px;
 width: 77.2757568359375px;
 height: 17.6427001953125px;
border-radius: 1.6038835048675537px; background-color: rgba(179, 235, 203, 1.0);
 cursor: pointer;

}

.group-42-5507{
position:absolute ;width: 100.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:109px; left: 533px;background:''}

.dropdown-42-5508{
position: absolute;left: 0.0px; top: 0.0px;background-color: rgba(219, 222, 235, 1.0);; width: 100.0px; height: 22.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold;
}

.group-42-5515{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 533px;background:''}

.group-42-5516{
position:absolute ;width: 508.0px; height: 63.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-42-5517{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-42-5518{
position:absolute ;width: 78.0px; height: 18.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;border-radius: 3.2077670097351074px;background:''}

.vector-42-5519{
position: absolute;left: 5.0px; top: 4.0px; width: 11.0px; height: 11.0}

.text-42-5521{
position: absolute;
left: 19.35546875px;
 top: 5.61328125px;
 width: 50.0px;
 height: 6.0px;
font-size: 8.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-42-5522{
position: absolute;
left: 0.0px;
 top: 37.0px;
 width: 508.0px;
 height: 26.0px;
font-size: 10.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.text-42-5523{
position: absolute;
left: 100.0px;
 top: 2.0px;
 width: 408.0px;
 height: 18.0px;
font-size: 9.0px; color: rgba(180, 174, 174, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-42-5524{
position:absolute ;width: 258.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 1075px;border-radius: 2.0px;background:''}

.vector-42-5527{
position: relative; width: 18.0px; height: 18.0}

.btn--5525{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 230.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(222, 252, 235, 1.0);
 cursor: pointer;

}

.vector-42-5532{
position: relative; width: 18.0px; height: 18.0}

.btn--5530{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 184.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(255, 232, 229, 1.0);
 cursor: pointer;

}

.vector-42-5537{
position: relative; width: 18.0px; height: 18.0}

.btn--5535{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 138.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-42-5546{
position: relative; width: 18.0px; height: 18.0}

.btn--5544{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 92.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-42-5552{
position: relative; width: 18.0px; height: 18.0}

.btn--5550{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 46.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.vector-42-5558{
position: relative; width: 18.0px; height: 18.0}

.btn--5556{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.group-42-5560{
position:absolute ;width: 195.0px; height: 14.0px;  background-color: rgba(0,0,0,0.0);top:16px; left: 66px;background:''}

.vector-42-5561{
position: absolute;left: 0.0px; top: 0.0px; width: 14.0px; height: 14.0}

.text-42-5575{
position: absolute;
left: 30.0px;
 top: 2.0px;
 width: 165.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-42-5576{
position: absolute;left: 514.0px; top: 91.99993896484375px; width: 566.0px; height: 1}

.group-42-5577{
position:absolute ;width: 260.0px; height: 32.0px;  background-color: rgba(0,0,0,0.0);top:47px; left: 1075px;background:''}

.group-42-5578{
position:absolute ;width: 193.0px; height: 32.0px;  background-color: rgba(250,250,250,1.0);top:0px; left: 31px;border-radius: 2.0px;border-color:rgba(164, 232, 200, 1.0);border-style:solid;background:''}

.vector-42-5579{
position: absolute;left: 0.0px; top: 0.0px; width: 29.0px; height: 27.0}

.text-42-5587{
position: absolute;
left: 39.0px;
 top: 8.0px;
 width: 185.0px;
 height: 17.0px;
font-size: 8.0px; color: rgba(170, 164, 165, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-42-5590{
position: relative; width: 18.0px; height: 18.0}

.btn--5588{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 232.0px;
 top: 2.0px;
 width: 28.0px;
 height: 28.0px;
border-radius: 2.0px; background-color: rgba(211, 234, 253, 1.0);
 cursor: pointer;

}

.text-42-5592{
position: absolute;
left: 1142.0px;
 top: 23.0px;
 width: 70.0px;
 height: 6.0px;
font-size: 9.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.group-42-5409{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:1079px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-42-5410{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-42-5411{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 241.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-Regular; font-weight: 400;
}